@import "mixins";

body {
    font-family: Open Sans, sans-serif;
    height: 100vh;
    width: 100vw;
    display: block;
    overflow: hidden;
}

nav {
    background: #fff;
    z-index: 99;
    border-bottom: 2px solid #d6d6d6 !important;
    .navbar-header {
        cursor: pointer;
    }
    .navbar-brand {
        color: #0072ff !important;
    }
}

#view {
    height: 100vh;
    width: 100vw;
    @include gradient-horizontal($start-color: #00c6ff, $end-color: #0072ff, $start-percent: 0%, $end-percent: 100%);
    color: #000 !important;
    text-align: center;
    padding: 15px 0 0 0;
    margin: 0 0 0 0;
    display: block;
    position:absolute;
    top: 0;
    left:0;
    overflow: hidden;
    .game {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 60%;
        height: 60%;
        visibility:hidden;
        padding: 0 0 0 0;
        .block {
            margin: 0 0 0 0;
            width: 33%;
            height: 33%;
            display: inline-flex;
            float: left;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            @include gradient-radial($inner-color: #fff, $outer-color: #eee);
            cursor:pointer;
            span {
                font-size: 6em;
                color: coral;
                font-weight: 900;
                &.X {
                    color:coral;
                }
                &.O {
                    color:blue;
                }
            }
        }
    }
    .start {
        display: block;
        visibility:hidden;
        h1 {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: 900;
            color: coral;
            letter-spacing: 2.5px;
        }
        .btn {
            text-transform: uppercase;
            font-size: 2em;
            padding: 10px 50px;
            margin: 30px auto;
            border: 4px solid #fff;
        }
    }
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
    .player {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        font-size: 2em;
        cursor: pointer;
        font-weight: 900;
        text-transform: uppercase;
        color: coral;
    }
}






